@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Overlock:wght@700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0 auto;
    font-family: "Reddit Sans", sans-serif;
    font-size: 20px;
    color: #405554;
    background-color: #FFFFFF;
}

header {
    width: 100%;
    background-color: #405554;
    min-height: 70px;
}

.space {
    background-color: #405554;
}

footer {
    width: 100%;
    min-height: 70px;
    background-color: #405554;
    color: #E4F9F5;
    font-size: 0.6em;
    text-align: left;
    padding: 1%;
    padding-left: 20px;
    position: sticky;
    bottom: 0;
    left: 0;
}

footer a {
    color:#E4F9F5;
}

.toplogo a.icon {
    display: none;
}

.imglogoround {
    display: none;
}

h1 {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-size: 64px;
    display: none;
}

h2 {
    font-family: "Overlock", sans-serif;
    font-size: 60px;
}

h3 {
    font-family: "Overlock", sans-serif;
    font-size: 32px;
}

aside {
    background-color: #405554;
    color: #E4F9F5;
    font-size: 14px;
    width: 359px;
    padding: 5%;
    border-radius: 30px;
}

img {
    border-radius: 30px;
    width: 233px;
}

/*Setting design forms*/
input[type=text] {
    width: 500px;
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    color: #768986;
}

textarea {
    width: 500px;
    height: 300px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: "Reddit Sans", sans-serif;
    font-size: 16px;
    color: #768986;
    padding: 20px;
}

input[type=submit] {
    width: 135px;
    background-color: #405554;
    color: #E4F9F5;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

input[type=reset] {
    width: 15%;
    background-color: #405554;
    color: #E4F9F5;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

.signup p {
    margin-top: 10px;
}

/*Settings desktop*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

header {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    justify-items: center;
}

.space {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
}

.mainnav {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 6;
}

main {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 6;
    margin-bottom: 5%;
}

footer {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 6;
}

.logomobile {
    display: none;
}

video {
    width: 300px;
    height: 200px;
}

/*Huvudnavigation desktop*/
nav {
    background-color: #768986;
    grid-column: 1 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1%;
}

nav a {
    padding: 1em;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #E4F9F5;
}

nav a:hover {
    color: #405554;
}

/*grid main*/
main {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto;
    gap: 1%;
}

.imglogoroundpage {
    display: none;
}

/*Layout main indexpage*/
.headerpageindex {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    justify-self: center;
}

.mainindex {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
    text-align: center;
    justify-self: center;
}

.imgone {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
}

.imgtwo {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.imgthree {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
}

.aside {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 6;
    grid-column-end: 6;
    align-self: start;
    justify-self: center;
}

/*Layout main andaspage*/
.headerpageandas {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    text-align: left;
    padding-left: 20px;
}

.mainoneandas {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
    padding-left: 20px;
    max-width: 541px;

}

.maintwoandas {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 4;
    padding-left: 20px;
    max-width: 541px;
}

.videoone {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 5;
    align-self: start;
}

.videotwo {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 6;
    justify-self: center;
    align-self: start;
}

.videothree {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 5;
    align-self: start;
}

.videofour {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 6;
    grid-column-end: 6;
    justify-self: center;
    align-self: start;
}

/*layout mindfulness page*/
.headerpagemindful {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
    justify-self: center;
}

.mainonemindful {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 6;
    justify-self: center;
    text-align: center;
}

.maintwomindful {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 6;
    justify-self: center;
    text-align: center;
    align-self: center;
}

/*layout about page*/
.headerpageabout {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
    justify-self: center;
}

.mainoneabout {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 6;
    justify-self: center;
}

.logoroundedabout {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;
    justify-self: center;
}

/*layout contact page*/
.headerpagecontact {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    padding: 50px;
}

.contact {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 4;
    padding: 50px;
}

.signup {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 6;
    align-self: start;
}

.logoroundedcontact {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 5;
    align-self: center;
}

/*layout integritet page*/
.headerpageintegritet {
    grid-area: 1/1/2/2;
}

.mainintegritet {
    grid-area: 2/1/auto/6;
}

@media screen and (min-width: 666px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }

    .aside {
        display: none;
    }

    .logoroundedcontact {
        display: none;
    }

    nav a {
        font-size: 0.6em;
    }

    /*grid main*/
    main {
        display: inline-grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    /*layout main page*/
    .headerpageindex {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        justify-self: center;
    }

    .mainindex {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 5;
        text-align: center;
        justify-self: center;
    }

    .imgone {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 3;
        justify-self: center;
        align-self: center;
    }

    .imgtwo {
        grid-row-start: 4;
        grid-column-start: 3;
        grid-row-end: 6;
        grid-column-end: 4;
        justify-self: center;
        align-self: center;
    }

    .imgthree {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-row-end: 6;
        grid-column-end: 6;
        justify-self: center;
        align-self: center;
    }

    /*Layout main andaspage*/
    .headerpageandas {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        justify-self: center;
    }

    .mainoneandas {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 6;
        align-self: start;
        text-align: center;
        max-width: none;

    }

    .maintwoandas {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 6;
        justify-self: center;
        align-self: end;
        text-align: center;
        max-width: none;
    }

    .videoone {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 4;
        justify-self: center;
        align-self: start;
    }

    .videotwo {
        grid-row-start: 4;
        grid-column-start: 3;
        grid-row-end: 5;
        grid-column-end: 6;
        justify-self: center;
        align-self: start;
    }

    .videothree {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 4;
        justify-self: center;
        align-self: start;
    }

    .videofour {
        grid-row-start: 5;
        grid-column-start: 3;
        grid-row-end: 6;
        grid-column-end: 6;
        justify-self: center;
        align-self: start;
    }

    /*layout mindfulness page*/
    .headerpagemindful {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        justify-self: center;
    }

    .mainonemindful {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 5;
        justify-self: center;
        text-align: center;
        padding: 1%;
    }

    .maintwomindful {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 6;
        grid-column-end: 5;
        justify-self: center;
        text-align: center;
        align-self: start;
        padding: 1%;
    }

    /*layout about page*/
    .headerpageabout {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        justify-self: center;
    }

    .mainoneabout {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 5;
        justify-self: center;
        text-align: center;
    }

    .logoroundedabout {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-row-end: 4;
        grid-column-end: 3;
        justify-self: center;
        align-self: center;
    }

    /*layout contact page*/
    .headerpagecontact {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        text-align: center;
    }

    .contact {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 6;
        justify-self: center;
        align-self: end;
    }

    .signup {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 6;
        align-self: end;
        justify-self: center;
    }

    /*layout integritet page*/
    .headerpageintegritet {
        grid-area: 1/1/2/6;
    }

    .mainintegritet {
        grid-area: 2/1/auto/6;
    }

}

@media screen and (max-width: 666px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        font-size: 16px;
    }

    nav {
        display: block;
    }

    .aside {
        display: none;
    }

    .logoroundedcontact {
        display: none;
    }

    .logo290 {
        display: none;
    }

    .imgone,
    .imgtwo,
    .imgthree {
        display: none;
    }

    .space {
        display: none;
    }

    .imglogoroundpage {
        display: none;
    }

    .imglogoround {
        display: block;
    }

    h1 {
        display: block;
    }

    h2 {
        font-family: "Overlock", sans-serif;
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .mainone {
        padding: 20px;
    }

    .wrapper {
        grid-template-columns: auto;
    }

    /*Main navigation mobile*/
    header {
        grid-area: 1/1/1/6;
    }

    .mainnav {
        overflow: hidden;
        position: relative;
    }

    nav a {
        display: block;
        padding: 5px;
        justify-self: start;
    }

    .mainnav a:hover {
        color: #405554;
    }

    .mainnav a:active {
        color: #FFFFFF;
    }

    .mainnav {
        background-color: #768986;
        display: none;
        text-align: left;
    }

    .logomobile {
        display: block;
        width: 58px;
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 10px;
        padding-top: 5px;

    }

    .toplogo a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2em;
        padding-right: 20px;
        padding-top: 10px;
        color: #E4F9F5;
    }

    /*grid main*/
    main {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        margin-bottom: 50px;
        gap: 0;
        margin: 20px;
    }

    /*layout index page*/
    .imglogoround {
        grid-area: 1/1/2/1;
        justify-self: center;
        padding: 20px;
    }

    .h1index {
        grid-area: 2/1/3/1;
        justify-self: center;
        padding: 20px;
    }

    .headerpageindex {
        grid-area: 3/1/4/1;
        padding: 20px;
    }

    .mainindex {
        grid-area: 4/1/4/1;
        padding: 20px;
    }

    /*layout andas page*/
    h1 {
        grid-area: 1/1/2/1;
        justify-self: center;
    }

    .headerpageandas {
        grid-area: 2/1/3/1;
        justify-self: center;
        padding: 20px;
    }

    .mainoneandas {
        grid-area: 3/1/4/1;
        justify-self: center;
    }

    .maintwoandas {
        grid-area: 4/1/6/1;
        justify-self: center;
    }

    .videoone {
        grid-area: 6/1/7/2;
        justify-self: center;
    }

    .videotwo {
        grid-area: 7/1/8/2;
        justify-self: center;
    }

    .videothree {
        grid-area: 8/1/9/2;
        justify-self: center;
    }

    .videofour {
        grid-area: 9/1/10/2;
        justify-self: center;
    }

    /*layout page mindfull*/
    .headerpagemindful {
        grid-area: 3/1/3/1;
    }

    .mainonemindful {
        grid-area: 4/1/4/1;
    }

    .maintwomindful {
        grid-area: 5/1/5/1;
    }

    /*layout page about*/
    .headerpageabout {
        grid-area: 3/1/3/1;
    }

    .mainoneabout {
        grid-area: 4/1/4/1;
    }

    .logoroundedabout {
        grid-area: 5/1/5/1;
    }

    /*layout page contact*/
    .h1contact {
        grid-area: 1/1/1/1;
    }

    .headerpagecontact {
        grid-area: 2/1/2/1;
        padding: 0;
        justify-self: center;
    }

    .contact {
        grid-area: 3/1/3/1;
    }

    .signup {
        grid-area: 4/1/4/1;
        justify-self: center;
    }

    /*layout integritet page*/
    .headerpageintegritet {
        grid-area: 2/1/3/2;
    }

    .mainintegritet {
        grid-area: 3/1/auto/2;
    }

}